html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.buttons {
  display: block;
  float: left;
  padding: 0px;
  width: 280px;
  background-color: #FFFFFF;
}
.menu-button{
  display: block;
  position: relative;
  background-color: white;
  text-align: left;
  background-repeat: no-repeat;
  background-image: none;
  background-position: right;
  background-size: 20px;
  border: none;
  font-family: Arial;
  margin-bottom: 12px;
}
.chapter-button {
  width: 280px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
}
.lesson-button {
  width: 270px;
  margin-left: 10px;
  height: 24px;
  font-size: 14px;
}
/*define the colours for the left-menu text*/
.locked{
  color: #CCCCCC;
}
.unlocked{
  color: #000000;
}
.active{
  color: #DD4B39;
}
.title-bar {
  display: block;
  width: 100%;
  background-color: #F1F1F1;
  border-bottom: 2px solid #EAEAEA;
}
.title {
  display: inline;
  font-weight: bold;
  color: #737373;
  font-family: arial;
  font-size: 28px;
  vertical-align: middle;
}
.maps-icon{
  display: inline;
  height: 55px;
  vertical-align: middle;
  margin: 10px;
}
.lesson{
  display: block;
  margin: 10px;
  margin-bottom: 20px;
  margin-left:300px;
  width: 650px;
  line-height: 1.5;
}
.instructions{
  display: block;
  height:auto;
  word-wrap: break-word;
  font-family: arial;
  font-size: 13px;
  margin-top: 20px;
}
.inventory{
  margin-top:10px;
  display: block;
  background-color: #F9EDBE;
  color: black;
  word-wrap: break-word;
  border: 1px solid #FBCB43;
  font-size: 12px;
  padding: 10px;
  font-family:arial;
  box-shadow: 4px 4px 8px #CCC;
}
.url{
  display: inline-block;
  width: 555px;
  min-height:24px;
  height: auto;
  word-wrap: break-word;
  font-size: 13px;
  font-family: monospace;
  resize: none;
  -moz-box-shadow: 4px 4px 8px #CCC;
  -webkit-box-shadow: 4px 4px 8px #CCC;
  box-shadow: 4px 4px 8px #CCC;
  background-color:white;
  border: 1px solid black;
  color: black;
  overflow-y:hidden;
  margin-top:20px
}
.url.placeholder {
  color: gray;
}
.url.redborder {
  border-color: #DD4B39;
}
.get-button{
  float: right;
  display: inline;
  margin-top: 20px;
  margin-right: 0px;
  width: 80px;
  height: 27px;
  background-color: #4287FD;
  color: white;
  font-size: 11px;
  font-family: arial;
  border-radius: 2px;
  border: 1px solid #4683EA;
  font-weight: bold;
}
.next-button{
  margin-left:568px;
  display:none;
}
.pointer:hover{
  cursor: pointer;
}
.general-button{
  margin-top:10px;
  min-width: 80px;
  height: 27px;
  font-size: 11px;
  font-family: arial;
  color: white;
  font-weight: bold;
  background-color: #3d9400;
  border-radius: 2px;
  border: 1px solid #29691d;
}
.menu{
  display: block;  
}
.success{
  color:black;
}
.failure{
  color:#DD4B39;
}
.ribbon{
  display:none;
  background-color: #3D9400;
  color: black;
  word-wrap: break-word;
  font-size: 13px;
  font-family:arial; 
  padding: 10px;
  font-weight:bold;
  color:white;
  border-radius:2px;
  margin-top:10px;
}
.message{
  display:none;
  margin-top:10px;
  height:auto;
  font-family:arial;
  font-size:13px;
}
.show-button{
  background-color:#F8F8F8);
  border: 1px solid #C6C6C6;
  margin-top:10px;
  height: 19px;
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 11px;
  border-radius: 2px;
}
.answer{
  margin-top:10px;
  display: block;
  background-color: #F9EDBE;
  color: black;
  word-wrap: break-word;
  border: 1px solid #FBCB43;
  font-size: 12px;
  padding: 5px;
  font-family:arial;
}
.response{
  display: block;
  padding:10px;
  background-color: white;
  color: black;
  word-wrap: break-word;
  font-size: 13px;
  font-family: monospace;
  white-space: pre;
  height: 300px;
  overflow-y:auto;
  -moz-box-shadow: 4px 4px 8px #CCC;
  -webkit-box-shadow: 4px 4px 8px #CCC;
  box-shadow: 4px 4px 8px #CCC;
  border: 1px solid black;
  margin-top:10px;
}
img[alt=yes-cat-image] {
  height: 300px;
}
*:focus {
    outline: 0;
}
