    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    .menu-button {
      display: block;
      position: relative;
      left: 20%;
      background-color: white;
      color: #DD4B39;
      width: 80%;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
    }
    .text-input {
      display: block;
      position: absolute;
      background-color: #FFFFFF;
      color: black;
      width: 39.75%;
      height: 39.5%;
      left: 23%;
      top: 56%;
      resize: none;
      overflow-y: scroll;
      font-family: monospace;
    }
    .text-output {
      display: block;
      position: absolute;
      background-color: #2D2D2D;
      color: white;
      padding: 1%;
      width: 35%;
      height: 85.9%;
      left: 63%;
      top: 10.75%;
      resize: none;
      overflow-y: scroll;
      font-family: monospace;
      z-index: 3;
      word-wrap: break-word;
    }
    .prev-button {
      display: block;
      position: absolute;
      background-color: #4D90FE;
      color: white;
      width: 8%;
      height: 3%;
      left: 23.5%;
      top: 11.25%;
      font-family: Arial regular;
      font-weight: bold;
      z-index: 2;
      border: 1px solid #1155CC;
    }
    .next-button {
      display: block;
      position: absolute;
      background-color: #4D90FE;
      color: white;
      width: 8%;
      height: 3%;
      left: 54.5%;
      top: 11.25%;
      font-family: Arial regular;
      font-weight: bold;
      z-index: 2;
      border: 1px solid #1155CC;
    }
    .submit-button {
      display: block;
      position: absolute;
      background-color: #4D90FE;
      color: white;
      width: 4%;
      height: 3.2%;
      left: 23.5%;
      top: 96.5%;
      font-family: Arial regular;
      font-weight: bold;
      z-index: 2;
      border: 1px solid #1155CC;
    }
    .clear-button {
      display: block;
      position: absolute;
      background-color: #4D90FE;
      color: white;
      width: 4%;
      height: 3.2%;
      left: 28%;
      top: 96.5%;
      font-family: Arial regular;
      font-weight: bold;
      z-index: 2;
      border: 1px solid #1155CC;
    }
    #title {
      position: absolute;
      width: 76.5%;
      height: 10%;
      right: 0.2%;
      top: 0.4%;
      font-family:arial;
      font-weight: bold;
      vertical-align: middle;
      line-height: 200%; 
      background-color: white;
      text-align: center;
      color: #DD4B39;
      z-index: 4;
    }
    #maps-icon{
      display: block;
      position: absolute;
      width: 8%;
      height: 90%;
      right: 2%;
      top: 8%;
    }
    #false-border {
      position: absolute;
      background-color: #white;
      width: 78%;
      height: 11%;
      right: 0px;
      top: 0px;
      z-index: -1;
    }
     #instructions {
      display: block;
      position: absolute;
      top: 14.75%;
      left: 23%;
      padding: 1%;
      overflow-y: scroll;
      resize: none;
      height:37.5%;
      width: 38.05%;
      color: black;
      font-family: Arial;
      background-color: #FFFFFF;
      word-wrap: break-word;
    }
    #prev-next-bar{
      display: block;
      position: absolute;
      top: 10.75%;
      left: 23%;
      resize: none;
      height:3.7%;
      width: 40%;
      border: 2px solid #e5e5e5;
      font-family: Verdana;
      background-color: #F1F1F1;
      z-index: 1;
    }
     #buttons {
      z-index: 2;
      display: block;
      position: absolute;
      height: 100%;
      padding: 0px;
      top: 0px;
      width: 23%;
      float: left;
      background-color: #FFFFFF;
      border-right: 2px solid #e5e5e5;
    }
    #button-bar {
      display: block;
      position: absolute;
      top: 96%;
      height: 4%;
      width: 40.3%;
      left: 23%;
      background-color: #F1F1F1;
      z-index:1;
    }
