html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.title-bar {
  display: block;
  width: 100%;
  background-color: #F1F1F1;
  border-bottom: 2px solid #EAEAEA;
}
.title {
  display: inline;
  font-weight: bold;
  color: #737373;
  font-family: arial;
  font-size: 28px;
  vertical-align: middle;
}
.maps-icon{
  display: inline;
  height: 55px;
  vertical-align: middle;
  margin: 10px;
}
.lesson{
  display: block;
  margin: 10px;
  margin-bottom: 20px;
  margin-left:300px;
  width: 650px;
  line-height: 1.5;
}
.instructions{
  display: block;
  height:auto;
  word-wrap: break-word;
  font-family: arial;
  font-size: 13px;
  margin-top: 20px;
}
.cat{
  display:block;
  width: 200px;
  margin-top:20px;
  margin-bottom:20px;
}
.general-button{
  margin-top:10px;
  min-width: 80px;
  height: 27px;
  font-size: 11px;
  font-family: arial;
  color: white;
  font-weight: bold;
  background-color: #3d9400;
  border-radius: 2px;
  border: 1px solid #29691d;
}
.pointer:hover{
  cursor: pointer;
}